@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); /* 폰트 */
body {
    margin: 0px;
}

.header {
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    height: 5vh;
    background-color: white;
}

.nav {
    position: relative;
    top: 0px;
    width: 1280px;
    min-width: 1280px;
    margin: 0px auto;
    height: 100%;
    background-color: white;
}

.main {
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    min-height: 90vh;
    background-color: rgb(240, 240, 240);
}

.footer {
    position: relative;
    top: 0px;
    width: 100%;
    min-width: 1280px;
    height: 5vh;
    background-color: black;
}

.header .nav .menu1 {
    position: relative;
    top: 10px;
    float: left;
    width: 180px;
    cursor: pointer;
}

.header .nav .menu2 {
    position: relative;
    top: 10px;
    float: left;
    width: 140px;
    cursor: pointer;
}

.header .nav .menu3 {
    position: relative;
    top: 10px;
    float: left;
    width: 140px;
    cursor: pointer;
}

.header .nav .menu4 {
    position: relative;
    top: 10px;
    float: left;
    width: 140px;
    cursor: pointer;
}

.header .nav .menu5 {
    position: relative;
    top: 10px;
    float: left;
    width: 140px;
    cursor: pointer;
}

.main .section1 {
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 600px;
    padding-top: 50px;
}

.main .section2 {
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 400px;
    padding-top: 50px;
}

.main .section1 .img1 {
    width: 1200px;
    height: 600px;
}

.main .section2 .text1 {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 16pt;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    text-align: left;
    width: 500px;
}

.main .section2 .img2 {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50px;
    background-image: url(img/christmas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .section2 .text2 {
    position: absolute;
    top: 160px;
    left: 400px;
    width: 600px;
    height: 400px;
}

.main .section3 {
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 200px;
    padding-top: 50px;
}

.main .section4 {
    position: relative;
    top: 0px;
    margin: 0px auto;
    width: 1280px;
    height: 400px;
    padding-top: 50px;
}