
body {
  margin: 0;
  padding: 0;
  height: 480vh;
}
section {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: burlywood;
  background-color: aliceblue;
}
section:nth-of-type(even) {
  background-color: rgb(176, 231, 235);
  color: cadetblue;
}
.scroll-text {
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.479);
  padding: 10px;
  border-radius: 20px;
}
