body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

.box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 16px;
    cursor:pointer;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 18px;
}