<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>음식 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <h1>음식 수정</h1>
      <form th:action="@{/foods/{id}/edit(id=${food.id})}" method="post">
        <label>이름</label>
        <input type="text" name="name" th:value="${food.name}" required />
        <label>카테고리</label>
        <input
          type="text"
          name="category"
          th:value="${food.category}"
          required
        />
        <label>평점</label>
        <input
          type="number"
          name="rating"
          min="1"
          max="5"
          th:value="${food.rating}"
        />
        <label>메모</label>
        <textarea name="memo" th:text="${food.memo}"></textarea>
        <label>먹은 날짜</label>
        <input type="date" name="eatDate" th:value="${food.eatDate}" required />
        <button type="submit">수정 완료</button>
      </form>
    </div>
  </body>
</html>
